
 .top {
    height: 45vh;
    background-image: url('img/lineup.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heroes {
    text-align: center;
    margin: auto;
    padding: 45px;

}



.Returns {
    display: inline-block;
}

/* =======================
Profile Page and Comic list
========================*/

/* .profile{
} */

.item1 img {
    width: 33%;
}

.item2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    
}


 .comicThread {
     text-align: center;
     height: 70%;
     padding: 15px;
}

.comicThread img {
    width: 100%;
    height: 750px;
}


/* =======================
      something else
========================*/

.charImg {
    display: block;
    border-radius: 50%;
    max-width: 15vw;
    width: 15vw;
    padding: 15px;
    max-height: 15vw;
    height: 15vw;
    object-fit: fill;

}

.heroName {
    vertical-align: center;
    width: 105px;
    text-align: center;
    font-size: 15px;
    font-style: bold;
    margin: auto;
}


.charItem {
    list-style: none;
    display: inline-block;
    transition: transform .4s;

}


.legal {
    text-align: center;
    padding: 15px;
    Padding-bottom: 15px;
    font-family: 'BebasNeueRegular';
    color: white;
    font-style: bold;
    font-size: 30px;
    background-color: 	#CE0317
}


.series > ul > li {
    list-style: none;
    padding-bottom: 25px;
}

.series > ul > li > img{
    width: 50%;
}

.srsButton {
    display:flex;
    flex-wrap:wrap;
    font-family:'Comic Sans', cursive;
    padding:1vmin;
}

.panel {
    background-image:radial-gradient(circle, yellow, orange);
    border:solid 2px #000;
    box-shadow:0 6px 6px -6px #000;
    display:inline-block;
    flex:1 1;
    height:200px;
    margin:1vmin;
    overflow:hidden;
    position:relative;
  }

  .heroBtn {
    border:solid 2px #000;
    border-radius:12px;
    margin:.5em;
    padding:.5em 1em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text {
    background-color:#fff;
    border:solid 2px #000;
    margin:0;
    padding:3px 10px;
  }
  
  .top-left {
    left:-6px;
    position:absolute;
    top:-2px;
    transform:skew(-15deg);
  }
  
  .bottom-right {
    bottom:-2px;
    position:absolute;
    right:-6px;
    transform:skew(-15deg);
  }

  .speech:before {
    border:solid 12px transparent;
    border-left:solid 12px #000;
    border-top:solid 12px #000;
    bottom:-24px;
    content:"";
    height:0;
    left:24px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
  }
  
  .speech:after {
    border:solid 10px transparent;
    border-left:solid 10px #fff;
    border-top:solid 10px #fff;
    bottom:-19px;
    content:"";
    height:0;
    left:27px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
  }
  
  .notFound {
    vertical-align: middle;
    background-image:radial-gradient(circle, lightcoral, tomato);
    border:solid 2px #000;
    box-shadow:0 6px 6px -6px #000;
    display:table-cell;
    flex:1 1;
    height:200px;
    width: 80vw;
    margin:auto;
    overflow:hidden;
    position:relative;
  }

.notFndTxt {
    padding: 50%;
  }

.Loading{
    text-align: center;
    Padding-top: 40px;
    font-size: 400%;
    font-style: italic;
}