
 .top {
    height: 45vh;
    background-image: url('img/lineup.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heroes {
    text-align: center;
    margin: auto;
    padding: 45px;

}



.Returns {
    display: inline-block;
}

/* =======================
Profile Page and Comic list
========================*/

/* .profile{
} */

.item1 img {
    width: 33%;
}

.item2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}


 .comicThread {
     text-align: center;
}

.comicThread img {
    width: 100%;
    height: 750px;;
}


/* .search {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
} */

/* =======================
      something else
========================*/

.charImg {
    display: block;
    border-radius: 50%;
    max-width: 15vw;
    width: 15vw;
    padding: 15px;
    max-height: 15vw;
    height: 15vw;
    object-fit: fill;

}

.heroName {
    vertical-align: center;
    width: 105px;
    text-align: center;
    font-size: 15px;
    font-style: bold;
    margin: auto;
}

/* .charItem:hover {
    transform: scale (1.25);
    background-color: blue;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
} */

.charItem {
    list-style: none;
    display: inline-block;
    transition: transform .4s;

}


.legal {
    text-align: center;
    padding: 15px;
    Padding-bottom: 15px;
    font-family: 'BebasNeueRegular';
    color: white;
    font-style: bold;
    font-size: 30px;
    background-color: 	#CE0317
}


