.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40vmin;
}

.searchBox {
  position: relative;
  top: 45px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.btn {
  position: relative;
  top: 45px;
}

.App-header {
  background-image: radial-gradient(circle, #194761, #171A23);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
