.App {
  background-image: radial-gradient(circle, #194761, #171A23);
  text-align: center;
}



.searchBox {
  /* position: fixed;
  top: 45px;
  Left: 50%;
  right: 50%;
  margin-bottom: 15px;
  border-radius: 5px; */
  /* border-style: double;
  border-width: 15px;
  border-color: blue; */
}

.btn {
  /* position: fixed;
  top: 55px;
  Left: 50%;
  right: 50%;
  border-radius: 2px; */
  /* border-style: double;
  border-width: 15px;
  border-color: yellow; */
}

.results {
  /* position: fixed;
  top: 65px;
  Left: 50%;
  right: 50%;
  padding-top: 20px;
  text-decoration-color: white;
  list-style: none; */
  /* border-style: double;
  border-width: 15px;
  border-color: red; */
}

.App-header {
  padding-top: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
